
body {
    padding: 50px;
    width: 100%;
    background: url('../../assets/background.jpeg') no-repeat;
    background-size: auto;
    color: white;
    text-align: center;

    font-family: Bradley Hand;
  }

.volga-arena{
    margin: 4%;
    border: 3px solid #6e696d;
    padding: 20px 40px 40px;
    min-width: 30%;
    border-radius: 20px;
    box-shadow: 0 0 10px 6px #615e5f;
    background-color: #72767ff0;
}

.volga-photo{
    width: auto 60%;
    min-width: 350px;
    margin-right: 5%;
    float: left;
}

.volga-arena h3{
    text-transform: uppercase;
    text-align: center;
    text-decoration: slateblue solid underline;
    text-underline-position: under;
}

.masters-project h3{
    text-transform: uppercase;
    text-align: center;
    text-decoration: slateblue solid underline;
    text-underline-position: under;
}


.volga-text{
    display: inline;
    font-size: large;
}

.masters-project{
    margin: 4%;
    border: 3px solid #6e696d;
    padding: 20px 40px 40px;
    min-width: 30%;
    min-height: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px 6px #615e5f;
    background-color: #72767ff0;
}

.masters-video{
    min-width: 350px;
    margin-right: 5%;
    float: left;
}

.masters-text{
    display: inline;
    font-size: large;
}

.about-card h3{ 
    text-transform: uppercase;
    text-align: center;
    text-decoration: slateblue solid underline;
    text-underline-position: under;
}

.about-card{
    font-size: large;
    margin: 4%;
    border: 3px solid #6e696d;
    padding: 20px 40px 40px;
    min-width: 30%;
    border-radius: 20px;
    box-shadow: 0 0 10px 6px #615e5f;
    background-color: #72767ff0;
    text-align: center;
}

