<h1>Contact me</h1>

<div class="links">
  <a href="mailto:iuliia.proskurnina@gmail.com" target="_blank" class="fa fa-google "></a>
  <a href="https://www.linkedin.com/in/iuliia-saprykina-ab3351100/" target="_blank" class="fa fa-linkedin "></a>
  <a href="https://github.com/IuliiaSaprykina" target="_blank" class="fa fa-github"></a>
  <div class="pdf">
    <a href="../../assets/Iuliia Saprykina Resume.pdf" download>
      <img class="pdf-img" src="../../assets/pdf-icon-round.png" alt="Resume">
    </a>
  </div>
</div>