

  .scene .card:nth-child(1) {
    background-image: url(https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);
  }
  
  .scene .card:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1497888329096-51c27beff665?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);
  }
  
  .scene .card:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1490682143684-14369e18dce8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);
  }
  
  .scene .card:nth-child(4) {
    background-image: url(https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);
    color: #fff;
  }
  
  .scene .card:nth-child(5) {
    background-image: url(https://images.unsplash.com/photo-1528319725582-ddc096101511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);
    color: #fff;
  }
  
  .scene .card:nth-child(6) {
    background-image: url(https://images.unsplash.com/photo-1463567727315-4a5cc526b47c?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80);
    color: #fff;
  }
  
  .scene {
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
    width: 100%;
    /* margin: 0 auto; */
    justify-content: space-between;
    padding-left: 0;
  }

  .scene .card {
    width: 400px;
    height: 260px;
    margin: 5px;
    border-radius: 20px;
  }

  .card p {
    background-color: #6a5a4fa1;
    /* width: 380px; */
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }

  
  