body {
    width: 100%;
    background: url('../src/assets/background.jpeg') no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    background-color: #574f56;

    font-family: Bradley Hand;
  }