

.large {
    font-size: 4em;
}

.home-container{
   float: right;
   margin: 10%;
   font-family: fantasy;
}

.home-container h1{
    font-size: 40px;
}

#porfolio-name{
    text-align: center;
    margin: 15px;
}



