
.large {
    font-size: 4em;
}

.home-container{
   float: right;
   margin: 10%;
   font-family: fantasy;
}

.home-container h1{
    font-size: 40px;
}

#porfolio-name{
    text-align: center;
    margin: 15px;
}

h3{
    font-family: auto;
    background-color: #6b6b6fa8;
    /* font-size: 25px; */
}

h1{
    background-color: #6b6b6fa8;
}

h2{
    background-color: #6b6b6fa8;
}



